In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# **Packages & Modules**

In [ ]:
import pandas as pd
import numpy as np

# **Load Data**

In [ ]:
#declares the result of previous step (cleansing)
df = pd.read_csv('/content/drive/MyDrive/Magang/DRI Batch 5/Report WO per 3 days/results/main/sep_jan2.csv')
df

,TERITORI,AREA,MONTH,DATE,SC,TYPE,TYPE TRANSAKSI,NAMA|ALAMAT,KONTAK,STATUS SC,...,QR ODP,TGL WO,TGL APPOINMENT,JAM INPUT GD (JJ.MM),TIME SLOT WO,UMUR WO,STATUS,MAIN WO,KETERANGAN,KESIMPULAN
0,Banyumanik,BMK,September,2022-09-01 00:00:00,525904547.0,2P,AO|BUNDLING,"IWAN JUNAEDI TRI WIBOWO | Jl. ALAM FIRDAUS,No....",MD;MYIR-4012208301499;IB191105;IWAN JUNAEDI TR...,COMPLETE PS,...,TE303464OZV2,2022-08-01 00:00:00,2022-09-01 08:00:00,8:00,Pagi,>30 Hari,CLOSE USAGE,COMPLETED PS,"Diskon Biaya PSB 77%, Paket IndiHome 2P Intern...",COMPLETED PS
1,Banyumanik,BMK,September,2022-09-01 00:00:00,NaN,2P,AO|BUNDLING,sri yuniati | jl. wonosari 55b rt 004 rw 002 m...,MI;MYIR-10414184460001;SPRUR65;sri yuniati;089...,NaN,...,NaN,2022-08-01 00:00:00,2022-09-01 12:00:00,8:00,Pagi,>30 Hari,TDK ADA ODP,K.JARINGAN,PT3 cek lokasi blm ada jaringan indihome (tian...,KENDALA
2,Banyumanik,BMK,September,2022-09-01 00:00:00,525901473.0,2P,AO|BUNDLING,rohedy Wibowo soedjatmiko | Jl. Taman Setiabud...,MI;MYIR-10414154200001;SPYRS68-B1247PIU;rohedy...,COMPLETE PS,...,TE30HLLN97PC,2022-08-01 00:00:00,2022-09-01 12:00:00,8:00,Pagi,>30 Hari,CLOSE USAGE,COMPLETED PS,UNDERGROUND ODP-BMK-FAZ/026 ngurut port BT,COMPLETED PS
3,Banyumanik,BMK,September,2022-09-01 00:00:00,NaN,3P,AO|BUNDLING,"Djoko purnomo | Jl. MERBABU RAYA,No. 164, Kec....",MD;MYID-4032208310906;RCMWD87;Djoko purnomo;08...,DIGITAL,...,NaN,2022-08-01 00:00:00,2022-09-01 08:00:00,8:00,Pagi,>30 Hari,RESCHEDULE,K.PELANGGAN,belum punya TV cek jaringan ada dari ODP-BMK-F...,KENDALA
4,Banyumanik,BMK,September,2022-09-01 00:00:00,525897092.0,2P,AO|BUNDLING,CAHAYA YONE ERNAWATI | Jl. CITRA BLOK H RT03 R...,MD;MYID-6012208270731;PL96480;RTG;KIOS4TD12;CA...,COMPLETE PS,...,TE306C7SH02R,2022-04-26 12:48:00,2022-09-01 15:31:00,8:00,Pagi,>30 Hari,CLOSE USAGE,COMPLETED PS,"OGP UNDERGROUND | 30 Mbps Low FUP, 50 menit, P...",COMPLETED PS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20767,Kendal,KDL,January,2023-01-02 00:00:00,NaN,2P,AO|INTERNET,"346G+3RW, Kabupaten Kendal, Jawa Tengah, Indon...",MI;MYIR-10430845010001;SPILH14;Muhammad Agus s...,NaN,...,NaN,2022-12-25 14:56:00,2022-12-26 12:00:00,08:00:00,Pagi,1-7 Hari,TANAM TIANG,K.JARINGAN,DONE TATI MKT || Paket JITU 1 - 1P 30 Mbps,KENDALA
20768,Kendal,SKR,January,2023-01-02 00:00:00,NaN,2P,AO|BUNDLING,"SAVIRA KARTIKA SARI |V3RH+G8W, Kabupaten Kenda...",MI;MYIR-10431857200001;SPAYS91;SAVIRA KARTIKA ...,NaN,...,NaN,2023-01-02 10:26:00,2023-01-03 12:00:00,10:02:00,Pagi,>1 Hari,NaN,COMPLETED PS,02-Jan|ODP-SKR-FC/021|Paket JITU 1 - 1P 30 Mbps,KENDALA
20769,Kendal,KDL,January,2023-01-02 00:00:00,NaN,2P,AO|INTERNET,Salsyabila tasya mellenia |PERUM KARINA GG DEL...,MI;MYIR-10431870800001;SPAMA2I;Salsyabila tasy...,NaN,...,NaN,2023-01-02 10:48:00,2023-01-03 12:00:00,10:05:00,Pagi,>1 Hari,NaN,COMPLETED PS,02-Jan|ODP-KDL-FJ/018|Paket JITU 1 - 1P 20 Mbps,KENDALA
20770,Kendal,SKR,January,2023-01-02 00:00:00,NaN,2P,AO|INTERNET,"ERINA RIDZA |Desa Sukorejo RT 04 RW 06, Kec Su...",MI;MYIR-10431859300001;SPAYS91;ERINA RIDZA;081...,NaN,...,NaN,2023-01-02 10:46:00,2023-01-03 12:00:00,10:05:00,Pagi,>1 Hari,NaN,COMPLETED PS,02-Jan|ODP-SKR-FA/189|Paket JITU 1 - 1P 30 Mbps,KENDALA
20771,Kendal,KDL,January,2023-01-02 00:00:00,NaN,2P,AO|INTERNET,Ricky Badiandzah |Babadan Kebonharjo Rt 2 Rw 5...,MI;MYIR-10431830650001;SPZAZ00-B1614PIW;Ricky ...,NaN,...,NaN,2023-01-02 10:40:00,2023-01-03 12:00:00,10:05:00,Pagi,>1 Hari,NaN,COMPLETED PS,02-Jan|ODP-KDL-FA/033|Paket JITU 1 - 1P 20 Mbps,KENDALA

# **Pivot WO Daily**

In [ ]:
wo_daily_jan = pd.pivot_table(df[df['MONTH']=='January'],index=['DATE'],
                              columns=['TERITORI'],aggfunc={'KONTAK':'count'})
wo_daily_jan

                        KONTAK                                        \
TERITORI            Banyumanik Candi Johar Kendal Majapahit Salatiga
DATE
2023-01-01 00:00:00          9    11    11     36        27       14
2023-01-02 00:00:00          8     8    10     43        17       15


TERITORI            Simpang Lima Tugu Ungaran
DATE
2023-01-01 00:00:00            3   21      16
2023-01-02 00:00:00            4   18      20

In [ ]:
wo_daily_des = pd.pivot_table(df[df['MONTH']=='December'],index=['DATE'],
                              columns=['TERITORI'],aggfunc={'KONTAK':'count'})
wo_daily_des

                        KONTAK                                        \
TERITORI            Banyumanik Candi Johar Kendal Majapahit Salatiga
DATE
2022-12-01 00:00:00       10.0   9.0  26.0   35.0      30.0     22.0
2022-12-02 00:00:00        8.0   6.0  21.0   46.0      25.0     25.0
2022-12-03 00:00:00       12.0   1.0  17.0   45.0      22.0     34.0
2022-12-04 00:00:00       14.0   6.0  23.0   41.0      20.0     18.0
2022-12-05 00:00:00       15.0  10.0  30.0   46.0      27.0     30.0
2022-12-06 00:00:00       14.0   9.0  30.0   60.0      34.0     33.0
2022-12-07 00:00:00       16.0  10.0  31.0   56.0      43.0     31.0
2022-12-08 00:00:00       20.0   3.0  35.0   42.0      41.0     34.0
2022-12-09 00:00:00       15.0   4.0  21.0   42.0      29.0     22.0
2022-12-12 00:00:00        9.0   5.0  30.0   52.0      34.0     25.0
2022-12-13 00:00:00        3.0   4.0  21.0   45.0      31.0     20.0
2022-12-14 00:00:00       11.0   6.0  32.0   41.0      33.0     26.0
2022-12-15 00:00:00        9.0   8.0  27.0   36.0      37.0     32.0
2022-12-16 00:00:00        9.0   7.0  24.0   27.0      19.0     19.0
2022-12-17 00:00:00       12.0   6.0  22.0   37.0      22.0     18.0
2022-12-18 00:00:00        8.0   7.0  19.0   21.0      37.0     14.0
2022-12-19 00:00:00       10.0   7.0  13.0   32.0      41.0     22.0
2022-12-20 00:00:00       16.0   5.0  20.0   35.0      45.0     27.0
2022-12-21 00:00:00        6.0   4.0  26.0   27.0      32.0     15.0
2022-12-22 00:00:00       10.0   9.0  30.0   20.0      28.0     24.0
2022-12-23 00:00:00       11.0   9.0  23.0   26.0      24.0     25.0
2022-12-24 00:00:00        5.0   7.0  24.0   34.0      28.0     29.0
2022-12-25 00:00:00       10.0  10.0  18.0   33.0      22.0      8.0
2022-12-26 00:00:00        9.0   7.0  23.0   44.0      22.0     30.0
2022-12-27 00:00:00       11.0  10.0  19.0   22.0      37.0     31.0
2022-12-28 00:00:00        5.0   7.0  21.0   25.0      38.0     29.0
2022-12-29 00:00:00        7.0   8.0  27.0   34.0      22.0     21.0
2022-12-30 00:00:00        4.0   9.0  30.0   35.0      28.0     41.0
2022-12-31 00:00:00        9.0   5.0  19.0   34.0      24.0     25.0


TERITORI            Simpang Lima  Tugu Ungaran
DATE
2022-12-01 00:00:00          4.0  30.0    11.0
2022-12-02 00:00:00          3.0  14.0    21.0
2022-12-03 00:00:00          5.0  30.0    24.0
2022-12-04 00:00:00          2.0  16.0    24.0
2022-12-05 00:00:00          NaN  27.0    37.0
2022-12-06 00:00:00         11.0  30.0    31.0
2022-12-07 00:00:00          8.0  33.0    27.0
2022-12-08 00:00:00          4.0  19.0    32.0
2022-12-09 00:00:00          3.0  21.0    30.0
2022-12-12 00:00:00          NaN  28.0    31.0
2022-12-13 00:00:00          5.0  35.0    29.0
2022-12-14 00:00:00          3.0  33.0    22.0
2022-12-15 00:00:00         11.0  30.0    23.0
2022-12-16 00:00:00          7.0  24.0    31.0
2022-12-17 00:00:00          9.0  32.0    33.0
2022-12-18 00:00:00          6.0  25.0    30.0
2022-12-19 00:00:00          5.0  28.0    33.0
2022-12-20 00:00:00         10.0  37.0    36.0
2022-12-21 00:00:00          8.0  27.0    28.0
2022-12-22 00:00:00          6.0  17.0    30.0
2022-12-23 00:00:00          9.0  17.0    22.0
2022-12-24 00:00:00          3.0  22.0    25.0
2022-12-25 00:00:00          2.0   8.0    16.0
2022-12-26 00:00:00          7.0  19.0    20.0
2022-12-27 00:00:00          6.0  34.0    25.0
2022-12-28 00:00:00          6.0  21.0    19.0
2022-12-29 00:00:00          4.0  27.0    27.0
2022-12-30 00:00:00          6.0  23.0    18.0
2022-12-31 00:00:00          4.0  22.0    11.0

# **Pivot PS Daily**

In [ ]:
df['KESIMPULAN'].unique()

array(['COMPLETED PS', 'KENDALA'], dtype=object)

In [ ]:
ps_daily_jan = pd.pivot_table(df[(df['MONTH'] == 'January') & (df['KESIMPULAN']=='COMPLETED PS')],
                              index=['DATE'],columns=['TERITORI'],aggfunc={'KONTAK':'count'})
ps_daily_jan

                        KONTAK                                        \
TERITORI            Banyumanik Candi Johar Kendal Majapahit Salatiga
DATE
2023-01-01 00:00:00        4.0   3.0   4.0    1.0      13.0      5.0
2023-01-02 00:00:00        NaN   NaN   NaN    NaN       NaN      1.0


TERITORI            Simpang Lima Tugu Ungaran
DATE
2023-01-01 00:00:00          1.0  6.0     4.0
2023-01-02 00:00:00          NaN  NaN     1.0

In [ ]:
ps_daily_des = pd.pivot_table(df[(df['MONTH'] == 'December') & (df['KESIMPULAN']=='COMPLETED PS')],
                              index=['DATE'],columns=['TERITORI'],aggfunc={'KONTAK':'count'})
ps_daily_des

                        KONTAK                                        \
TERITORI            Banyumanik Candi Johar Kendal Majapahit Salatiga
DATE
2022-12-01 00:00:00        8.0   5.0  17.0   17.0      22.0     15.0
2022-12-02 00:00:00        5.0   1.0  12.0   15.0      14.0      7.0
2022-12-03 00:00:00        9.0   NaN  12.0   11.0      17.0     14.0
2022-12-04 00:00:00        6.0   3.0  10.0   12.0      14.0      9.0
2022-12-05 00:00:00        8.0   4.0  16.0   22.0      15.0     15.0
2022-12-06 00:00:00        7.0   3.0  17.0   21.0      17.0     13.0
2022-12-07 00:00:00       11.0   3.0  18.0   21.0      21.0     18.0
2022-12-08 00:00:00       10.0   3.0  22.0   15.0      25.0     17.0
2022-12-09 00:00:00        9.0   2.0   9.0   21.0      19.0     11.0
2022-12-12 00:00:00        8.0   4.0  12.0   17.0      20.0     13.0
2022-12-13 00:00:00        2.0   2.0  13.0   20.0      16.0      7.0
2022-12-14 00:00:00        6.0   4.0  18.0   17.0      19.0     16.0
2022-12-15 00:00:00        4.0   2.0  12.0   15.0      22.0     11.0
2022-12-16 00:00:00        6.0   1.0   7.0   12.0      14.0      9.0
2022-12-17 00:00:00        6.0   3.0  14.0   13.0      10.0     12.0
2022-12-18 00:00:00        5.0   3.0  10.0    9.0      12.0      7.0
2022-12-19 00:00:00        5.0   4.0   5.0   13.0      23.0     12.0
2022-12-20 00:00:00        8.0   2.0  13.0   15.0      19.0     17.0
2022-12-21 00:00:00        4.0   1.0  12.0   15.0      18.0      6.0
2022-12-22 00:00:00        7.0   5.0  17.0    9.0      21.0      5.0
2022-12-23 00:00:00        6.0   4.0  12.0   19.0      17.0     12.0
2022-12-24 00:00:00        3.0   1.0  10.0   14.0      19.0     12.0
2022-12-25 00:00:00        5.0   6.0   8.0    9.0      12.0      3.0
2022-12-26 00:00:00        4.0   4.0  15.0   19.0      10.0     13.0
2022-12-27 00:00:00        6.0   4.0   9.0   14.0      16.0     16.0
2022-12-28 00:00:00        2.0   4.0  11.0   15.0      28.0      9.0
2022-12-29 00:00:00        6.0   4.0  13.0   16.0      17.0     12.0
2022-12-30 00:00:00        1.0   4.0  10.0   15.0      21.0     18.0
2022-12-31 00:00:00        4.0   1.0   1.0    1.0       7.0      9.0


TERITORI            Simpang Lima  Tugu Ungaran
DATE
2022-12-01 00:00:00          3.0  20.0     9.0
2022-12-02 00:00:00          1.0   8.0     9.0
2022-12-03 00:00:00          4.0  17.0    12.0
2022-12-04 00:00:00          2.0  10.0     4.0
2022-12-05 00:00:00          NaN  22.0    19.0
2022-12-06 00:00:00          3.0  17.0    19.0
2022-12-07 00:00:00          4.0  21.0    15.0
2022-12-08 00:00:00          2.0   9.0    12.0
2022-12-09 00:00:00          3.0   5.0    15.0
2022-12-12 00:00:00          NaN  17.0    13.0
2022-12-13 00:00:00          2.0  20.0    12.0
2022-12-14 00:00:00          2.0  19.0    15.0
2022-12-15 00:00:00          4.0  18.0    10.0
2022-12-16 00:00:00          1.0   9.0    14.0
2022-12-17 00:00:00          6.0  13.0    10.0
2022-12-18 00:00:00          2.0   9.0    12.0
2022-12-19 00:00:00          3.0  11.0    13.0
2022-12-20 00:00:00          4.0  18.0    17.0
2022-12-21 00:00:00          2.0  16.0    16.0
2022-12-22 00:00:00          2.0  11.0    17.0
2022-12-23 00:00:00          7.0  11.0    12.0
2022-12-24 00:00:00          2.0  16.0    16.0
2022-12-25 00:00:00          NaN   3.0     6.0
2022-12-26 00:00:00          4.0   6.0    12.0
2022-12-27 00:00:00          3.0  16.0    11.0
2022-12-28 00:00:00          4.0  13.0     9.0
2022-12-29 00:00:00          1.0  12.0    13.0
2022-12-30 00:00:00          4.0  16.0    10.0
2022-12-31 00:00:00          2.0   6.0     2.0

# **Pivot Kendala Daily**

In [ ]:
kendala_daily_jan = pd.pivot_table(df[(df['MONTH'] == 'January') & (df['KESIMPULAN']=='KENDALA')],
                              index=['DATE'],columns=['TERITORI'],aggfunc={'KONTAK':'count'})
kendala_daily_jan

                        KONTAK                                        \
TERITORI            Banyumanik Candi Johar Kendal Majapahit Salatiga
DATE
2023-01-01 00:00:00          5     8     7     35        14        9
2023-01-02 00:00:00          8     8    10     43        17       14


TERITORI            Simpang Lima Tugu Ungaran
DATE
2023-01-01 00:00:00            2   15      12
2023-01-02 00:00:00            4   18      19

In [ ]:
kendala_daily_des = pd.pivot_table(df[(df['MONTH'] == 'December') & (df['KESIMPULAN']=='KENDALA')],
                              index=['DATE'],columns=['TERITORI'],aggfunc={'KONTAK':'count'})
kendala_daily_des

                        KONTAK                                        \
TERITORI            Banyumanik Candi Johar Kendal Majapahit Salatiga
DATE
2022-12-01 00:00:00        2.0   4.0   9.0   18.0       8.0      7.0
2022-12-02 00:00:00        3.0   5.0   9.0   31.0      11.0     18.0
2022-12-03 00:00:00        3.0   1.0   5.0   34.0       5.0     20.0
2022-12-04 00:00:00        8.0   3.0  13.0   29.0       6.0      9.0
2022-12-05 00:00:00        7.0   6.0  14.0   24.0      12.0     15.0
2022-12-06 00:00:00        7.0   6.0  13.0   39.0      17.0     20.0
2022-12-07 00:00:00        5.0   7.0  13.0   35.0      22.0     13.0
2022-12-08 00:00:00       10.0   NaN  13.0   27.0      16.0     17.0
2022-12-09 00:00:00        6.0   2.0  12.0   21.0      10.0     11.0
2022-12-12 00:00:00        1.0   1.0  18.0   35.0      14.0     12.0
2022-12-13 00:00:00        1.0   2.0   8.0   25.0      15.0     13.0
2022-12-14 00:00:00        5.0   2.0  14.0   24.0      14.0     10.0
2022-12-15 00:00:00        5.0   6.0  15.0   21.0      15.0     21.0
2022-12-16 00:00:00        3.0   6.0  17.0   15.0       5.0     10.0
2022-12-17 00:00:00        6.0   3.0   8.0   24.0      12.0      6.0
2022-12-18 00:00:00        3.0   4.0   9.0   12.0      25.0      7.0
2022-12-19 00:00:00        5.0   3.0   8.0   19.0      18.0     10.0
2022-12-20 00:00:00        8.0   3.0   7.0   20.0      26.0     10.0
2022-12-21 00:00:00        2.0   3.0  14.0   12.0      14.0      9.0
2022-12-22 00:00:00        3.0   4.0  13.0   11.0       7.0     19.0
2022-12-23 00:00:00        5.0   5.0  11.0    7.0       7.0     13.0
2022-12-24 00:00:00        2.0   6.0  14.0   20.0       9.0     17.0
2022-12-25 00:00:00        5.0   4.0  10.0   24.0      10.0      5.0
2022-12-26 00:00:00        5.0   3.0   8.0   25.0      12.0     17.0
2022-12-27 00:00:00        5.0   6.0  10.0    8.0      21.0     15.0
2022-12-28 00:00:00        3.0   3.0  10.0   10.0      10.0     20.0
2022-12-29 00:00:00        1.0   4.0  14.0   18.0       5.0      9.0
2022-12-30 00:00:00        3.0   5.0  20.0   20.0       7.0     23.0
2022-12-31 00:00:00        5.0   4.0  18.0   33.0      17.0     16.0


TERITORI            Simpang Lima  Tugu Ungaran
DATE
2022-12-01 00:00:00          1.0  10.0     2.0
2022-12-02 00:00:00          2.0   6.0    12.0
2022-12-03 00:00:00          1.0  13.0    12.0
2022-12-04 00:00:00          NaN   6.0    20.0
2022-12-05 00:00:00          NaN   5.0    18.0
2022-12-06 00:00:00          8.0  13.0    12.0
2022-12-07 00:00:00          4.0  12.0    12.0
2022-12-08 00:00:00          2.0  10.0    20.0
2022-12-09 00:00:00          NaN  16.0    15.0
2022-12-12 00:00:00          NaN  11.0    18.0
2022-12-13 00:00:00          3.0  15.0    17.0
2022-12-14 00:00:00          1.0  14.0     7.0
2022-12-15 00:00:00          7.0  12.0    13.0
2022-12-16 00:00:00          6.0  15.0    17.0
2022-12-17 00:00:00          3.0  19.0    23.0
2022-12-18 00:00:00          4.0  16.0    18.0
2022-12-19 00:00:00          2.0  17.0    20.0
2022-12-20 00:00:00          6.0  19.0    19.0
2022-12-21 00:00:00          6.0  11.0    12.0
2022-12-22 00:00:00          4.0   6.0    13.0
2022-12-23 00:00:00          2.0   6.0    10.0
2022-12-24 00:00:00          1.0   6.0     9.0
2022-12-25 00:00:00          2.0   5.0    10.0
2022-12-26 00:00:00          3.0  13.0     8.0
2022-12-27 00:00:00          3.0  18.0    14.0
2022-12-28 00:00:00          2.0   8.0    10.0
2022-12-29 00:00:00          3.0  15.0    14.0
2022-12-30 00:00:00          2.0   7.0     8.0
2022-12-31 00:00:00          2.0  16.0     9.0

# **Pivot Teknisi Daily**

In [ ]:
teknisi_daily_jan = pd.pivot_table(df[(df['MONTH'] == 'January')],
                              index=['DATE'],columns=['TERITORI'],aggfunc={'TEKNISI': pd.Series.nunique})
#the result of pivot has to multiplied by two
#because a team consists of 2 people
teknisi_daily_jan = teknisi_daily_jan*2
teknisi_daily_jan

                       TEKNISI                                        \
TERITORI            Banyumanik Candi Johar Kendal Majapahit Salatiga
DATE
2023-01-01 00:00:00          6    10    12      8        12       18
2023-01-02 00:00:00         10    10    14     18        18       14


TERITORI            Simpang Lima Tugu Ungaran
DATE
2023-01-01 00:00:00            2   12       8
2023-01-02 00:00:00            4   24      16

In [ ]:
teknisi_daily_des = pd.pivot_table(df[(df['MONTH'] == 'December')],
                              index=['DATE'],columns=['TERITORI'],aggfunc={'TEKNISI': pd.Series.nunique})
#the result of pivot has to multiplied by two
#because a team consists of 2 people
teknisi_daily_des = teknisi_daily_des*2
teknisi_daily_des

                       TEKNISI                                        \
TERITORI            Banyumanik Candi Johar Kendal Majapahit Salatiga
DATE
2022-12-01 00:00:00       14.0  12.0  20.0   24.0      22.0     22.0
2022-12-02 00:00:00       12.0   6.0  24.0   24.0      18.0     26.0
2022-12-03 00:00:00       12.0   2.0  18.0   24.0      22.0     26.0
2022-12-04 00:00:00       10.0   8.0  16.0   16.0      12.0     20.0
2022-12-05 00:00:00       10.0  12.0  26.0   20.0      18.0     24.0
2022-12-06 00:00:00       12.0  12.0  20.0   24.0      18.0     32.0
2022-12-07 00:00:00       14.0   8.0  24.0   28.0      22.0     30.0
2022-12-08 00:00:00       12.0   6.0  26.0   20.0      24.0     30.0
2022-12-09 00:00:00       12.0   6.0  22.0   22.0      20.0     24.0
2022-12-12 00:00:00       10.0  10.0  26.0   22.0      20.0     30.0
2022-12-13 00:00:00        6.0   6.0  22.0   28.0      16.0     22.0
2022-12-14 00:00:00       12.0   6.0  22.0   26.0      24.0     24.0
2022-12-15 00:00:00       10.0  10.0  18.0   24.0      22.0     24.0
2022-12-16 00:00:00       10.0   8.0  18.0   24.0      16.0     26.0
2022-12-17 00:00:00       10.0   8.0  20.0   28.0      12.0     24.0
2022-12-18 00:00:00       10.0   8.0  14.0   14.0      12.0     14.0
2022-12-19 00:00:00        8.0  10.0  20.0   18.0      24.0     26.0
2022-12-20 00:00:00       10.0   8.0  18.0   24.0      18.0     22.0
2022-12-21 00:00:00        8.0   4.0  22.0   22.0      18.0     18.0
2022-12-22 00:00:00       12.0  14.0  24.0   18.0      18.0     24.0
2022-12-23 00:00:00       14.0  12.0  20.0   26.0      16.0     26.0
2022-12-24 00:00:00        8.0  10.0  16.0   18.0      16.0     26.0
2022-12-25 00:00:00       10.0  14.0  18.0   20.0      16.0      8.0
2022-12-26 00:00:00       12.0   8.0  22.0   32.0      20.0     24.0
2022-12-27 00:00:00        8.0  12.0  18.0   20.0      16.0     30.0
2022-12-28 00:00:00        8.0  10.0  22.0   22.0      24.0     26.0
2022-12-29 00:00:00       10.0  10.0  22.0   22.0      16.0     24.0
2022-12-30 00:00:00        8.0  12.0  22.0   22.0      18.0     32.0
2022-12-31 00:00:00        8.0   8.0  18.0   26.0      14.0     28.0


TERITORI            Simpang Lima  Tugu Ungaran
DATE
2022-12-01 00:00:00          4.0  32.0    14.0
2022-12-02 00:00:00          6.0  24.0    20.0
2022-12-03 00:00:00          8.0  34.0    18.0
2022-12-04 00:00:00          4.0  16.0    12.0
2022-12-05 00:00:00          NaN  26.0    22.0
2022-12-06 00:00:00         12.0  34.0    20.0
2022-12-07 00:00:00          8.0  28.0    20.0
2022-12-08 00:00:00          6.0  28.0    20.0
2022-12-09 00:00:00          6.0  22.0    20.0
2022-12-12 00:00:00          NaN  30.0    18.0
2022-12-13 00:00:00          8.0  34.0    14.0
2022-12-14 00:00:00          6.0  28.0    16.0
2022-12-15 00:00:00          8.0  26.0    18.0
2022-12-16 00:00:00          6.0  24.0    20.0
2022-12-17 00:00:00          8.0  24.0    16.0
2022-12-18 00:00:00          8.0  20.0    14.0
2022-12-19 00:00:00         10.0  28.0    16.0
2022-12-20 00:00:00         12.0  30.0    22.0
2022-12-21 00:00:00          8.0  30.0    22.0
2022-12-22 00:00:00         12.0  24.0    20.0
2022-12-23 00:00:00         12.0  22.0    18.0
2022-12-24 00:00:00          6.0  24.0    22.0
2022-12-25 00:00:00          2.0   8.0    12.0
2022-12-26 00:00:00          8.0  22.0    20.0
2022-12-27 00:00:00         10.0  36.0    20.0
2022-12-28 00:00:00          8.0  26.0    16.0
2022-12-29 00:00:00          6.0  26.0    18.0
2022-12-30 00:00:00         12.0  24.0    16.0
2022-12-31 00:00:00          6.0  24.0    10.0

# **PS/WO Daily**

In [ ]:
ps_wo_daily_jan = ps_daily_jan/wo_daily_jan
ps_wo_daily_jan.fillna(0,inplace=True)
ps_wo_daily_jan

                        KONTAK                                          \
TERITORI            Banyumanik     Candi     Johar    Kendal Majapahit
DATE
2023-01-01 00:00:00   0.444444  0.272727  0.363636  0.027778  0.481481
2023-01-02 00:00:00   0.000000  0.000000  0.000000  0.000000  0.000000


TERITORI             Salatiga Simpang Lima      Tugu Ungaran
DATE
2023-01-01 00:00:00  0.357143     0.333333  0.285714    0.25
2023-01-02 00:00:00  0.066667     0.000000  0.000000    0.05

In [ ]:
ps_wo_daily_des = (ps_daily_des/wo_daily_des)
ps_wo_daily_des.fillna(0,inplace=True)
ps_wo_daily_des

                        KONTAK                                          \
TERITORI            Banyumanik     Candi     Johar    Kendal Majapahit
DATE
2022-12-01 00:00:00   0.800000  0.555556  0.653846  0.485714  0.733333
2022-12-02 00:00:00   0.625000  0.166667  0.571429  0.326087  0.560000
2022-12-03 00:00:00   0.750000  0.000000  0.705882  0.244444  0.772727
2022-12-04 00:00:00   0.428571  0.500000  0.434783  0.292683  0.700000
2022-12-05 00:00:00   0.533333  0.400000  0.533333  0.478261  0.555556
2022-12-06 00:00:00   0.500000  0.333333  0.566667  0.350000  0.500000
2022-12-07 00:00:00   0.687500  0.300000  0.580645  0.375000  0.488372
2022-12-08 00:00:00   0.500000  1.000000  0.628571  0.357143  0.609756
2022-12-09 00:00:00   0.600000  0.500000  0.428571  0.500000  0.655172
2022-12-12 00:00:00   0.888889  0.800000  0.400000  0.326923  0.588235
2022-12-13 00:00:00   0.666667  0.500000  0.619048  0.444444  0.516129
2022-12-14 00:00:00   0.545455  0.666667  0.562500  0.414634  0.575758
2022-12-15 00:00:00   0.444444  0.250000  0.444444  0.416667  0.594595
2022-12-16 00:00:00   0.666667  0.142857  0.291667  0.444444  0.736842
2022-12-17 00:00:00   0.500000  0.500000  0.636364  0.351351  0.454545
2022-12-18 00:00:00   0.625000  0.428571  0.526316  0.428571  0.324324
2022-12-19 00:00:00   0.500000  0.571429  0.384615  0.406250  0.560976
2022-12-20 00:00:00   0.500000  0.400000  0.650000  0.428571  0.422222
2022-12-21 00:00:00   0.666667  0.250000  0.461538  0.555556  0.562500
2022-12-22 00:00:00   0.700000  0.555556  0.566667  0.450000  0.750000
2022-12-23 00:00:00   0.545455  0.444444  0.521739  0.730769  0.708333
2022-12-24 00:00:00   0.600000  0.142857  0.416667  0.411765  0.678571
2022-12-25 00:00:00   0.500000  0.600000  0.444444  0.272727  0.545455
2022-12-26 00:00:00   0.444444  0.571429  0.652174  0.431818  0.454545
2022-12-27 00:00:00   0.545455  0.400000  0.473684  0.636364  0.432432
2022-12-28 00:00:00   0.400000  0.571429  0.523810  0.600000  0.736842
2022-12-29 00:00:00   0.857143  0.500000  0.481481  0.470588  0.772727
2022-12-30 00:00:00   0.250000  0.444444  0.333333  0.428571  0.750000
2022-12-31 00:00:00   0.444444  0.200000  0.052632  0.029412  0.291667


TERITORI             Salatiga Simpang Lima      Tugu   Ungaran
DATE
2022-12-01 00:00:00  0.681818     0.750000  0.666667  0.818182
2022-12-02 00:00:00  0.280000     0.333333  0.571429  0.428571
2022-12-03 00:00:00  0.411765     0.800000  0.566667  0.500000
2022-12-04 00:00:00  0.500000     1.000000  0.625000  0.166667
2022-12-05 00:00:00  0.500000     0.000000  0.814815  0.513514
2022-12-06 00:00:00  0.393939     0.272727  0.566667  0.612903
2022-12-07 00:00:00  0.580645     0.500000  0.636364  0.555556
2022-12-08 00:00:00  0.500000     0.500000  0.473684  0.375000
2022-12-09 00:00:00  0.500000     1.000000  0.238095  0.500000
2022-12-12 00:00:00  0.520000     0.000000  0.607143  0.419355
2022-12-13 00:00:00  0.350000     0.400000  0.571429  0.413793
2022-12-14 00:00:00  0.615385     0.666667  0.575758  0.681818
2022-12-15 00:00:00  0.343750     0.363636  0.600000  0.434783
2022-12-16 00:00:00  0.473684     0.142857  0.375000  0.451613
2022-12-17 00:00:00  0.666667     0.666667  0.406250  0.303030
2022-12-18 00:00:00  0.500000     0.333333  0.360000  0.400000
2022-12-19 00:00:00  0.545455     0.600000  0.392857  0.393939
2022-12-20 00:00:00  0.629630     0.400000  0.486486  0.472222
2022-12-21 00:00:00  0.400000     0.250000  0.592593  0.571429
2022-12-22 00:00:00  0.208333     0.333333  0.647059  0.566667
2022-12-23 00:00:00  0.480000     0.777778  0.647059  0.545455
2022-12-24 00:00:00  0.413793     0.666667  0.727273  0.640000
2022-12-25 00:00:00  0.375000     0.000000  0.375000  0.375000
2022-12-26 00:00:00  0.433333     0.571429  0.315789  0.600000
2022-12-27 00:00:00  0.516129     0.500000  0.470588  0.440000
2022-12-28 00:00:00  0.310345     0.666667  0.619048  0.473684
2022-12-29 00:00:00  0.571429     0.250000  0.444444  0.481481
2022-12-30 00:00:00  0.439024     0.666667  0.695652  0.555556
2022-12-31 00:00:00  0.360000     0.500000  0.272727  0.181818

In [ ]:
#get the average value of each data
avg_ps_wo_jan = pd.DataFrame(ps_wo_daily_jan.mean()).reset_index()
avg_ps_wo_des = pd.DataFrame(ps_wo_daily_des.mean().reset_index())
#rename column
avg_ps_wo_jan.rename(columns = {0:'PS / WO'}, inplace = True)
avg_ps_wo_des.rename(columns = {0:'PS / WO'}, inplace = True)

In [ ]:
avg_ps_wo_jan

  level_0      TERITORI   PS / WO
0  KONTAK    Banyumanik  0.222222
1  KONTAK         Candi  0.136364
2  KONTAK         Johar  0.181818
3  KONTAK        Kendal  0.013889
4  KONTAK     Majapahit  0.240741
5  KONTAK      Salatiga  0.211905
6  KONTAK  Simpang Lima  0.166667
7  KONTAK          Tugu  0.142857
8  KONTAK       Ungaran  0.150000

In [ ]:
avg_ps_wo_des

  level_0      TERITORI   PS / WO
0  KONTAK    Banyumanik  0.576384
1  KONTAK         Candi  0.437767
2  KONTAK         Johar  0.501616
3  KONTAK        Kendal  0.416854
4  KONTAK     Majapahit  0.587297
5  KONTAK      Salatiga  0.465522
6  KONTAK  Simpang Lima  0.479716
7  KONTAK          Tugu  0.529019
8  KONTAK       Ungaran  0.478346

# **Kendala/WO Daily**

In [ ]:
kendala_wo_daily_jan = kendala_daily_jan/wo_daily_jan
kendala_wo_daily_jan.fillna(0,inplace=True)
kendala_wo_daily_jan

                        KONTAK                                          \
TERITORI            Banyumanik     Candi     Johar    Kendal Majapahit
DATE
2023-01-01 00:00:00   0.555556  0.727273  0.636364  0.972222  0.518519
2023-01-02 00:00:00   1.000000  1.000000  1.000000  1.000000  1.000000


TERITORI             Salatiga Simpang Lima      Tugu Ungaran
DATE
2023-01-01 00:00:00  0.642857     0.666667  0.714286    0.75
2023-01-02 00:00:00  0.933333     1.000000  1.000000    0.95

In [ ]:
kendala_wo_daily_des = kendala_daily_des/wo_daily_des
kendala_wo_daily_des.fillna(0,inplace=True)
kendala_wo_daily_des

                        KONTAK                                          \
TERITORI            Banyumanik     Candi     Johar    Kendal Majapahit
DATE
2022-12-01 00:00:00   0.200000  0.444444  0.346154  0.514286  0.266667
2022-12-02 00:00:00   0.375000  0.833333  0.428571  0.673913  0.440000
2022-12-03 00:00:00   0.250000  1.000000  0.294118  0.755556  0.227273
2022-12-04 00:00:00   0.571429  0.500000  0.565217  0.707317  0.300000
2022-12-05 00:00:00   0.466667  0.600000  0.466667  0.521739  0.444444
2022-12-06 00:00:00   0.500000  0.666667  0.433333  0.650000  0.500000
2022-12-07 00:00:00   0.312500  0.700000  0.419355  0.625000  0.511628
2022-12-08 00:00:00   0.500000  0.000000  0.371429  0.642857  0.390244
2022-12-09 00:00:00   0.400000  0.500000  0.571429  0.500000  0.344828
2022-12-12 00:00:00   0.111111  0.200000  0.600000  0.673077  0.411765
2022-12-13 00:00:00   0.333333  0.500000  0.380952  0.555556  0.483871
2022-12-14 00:00:00   0.454545  0.333333  0.437500  0.585366  0.424242
2022-12-15 00:00:00   0.555556  0.750000  0.555556  0.583333  0.405405
2022-12-16 00:00:00   0.333333  0.857143  0.708333  0.555556  0.263158
2022-12-17 00:00:00   0.500000  0.500000  0.363636  0.648649  0.545455
2022-12-18 00:00:00   0.375000  0.571429  0.473684  0.571429  0.675676
2022-12-19 00:00:00   0.500000  0.428571  0.615385  0.593750  0.439024
2022-12-20 00:00:00   0.500000  0.600000  0.350000  0.571429  0.577778
2022-12-21 00:00:00   0.333333  0.750000  0.538462  0.444444  0.437500
2022-12-22 00:00:00   0.300000  0.444444  0.433333  0.550000  0.250000
2022-12-23 00:00:00   0.454545  0.555556  0.478261  0.269231  0.291667
2022-12-24 00:00:00   0.400000  0.857143  0.583333  0.588235  0.321429
2022-12-25 00:00:00   0.500000  0.400000  0.555556  0.727273  0.454545
2022-12-26 00:00:00   0.555556  0.428571  0.347826  0.568182  0.545455
2022-12-27 00:00:00   0.454545  0.600000  0.526316  0.363636  0.567568
2022-12-28 00:00:00   0.600000  0.428571  0.476190  0.400000  0.263158
2022-12-29 00:00:00   0.142857  0.500000  0.518519  0.529412  0.227273
2022-12-30 00:00:00   0.750000  0.555556  0.666667  0.571429  0.250000
2022-12-31 00:00:00   0.555556  0.800000  0.947368  0.970588  0.708333


TERITORI             Salatiga Simpang Lima      Tugu   Ungaran
DATE
2022-12-01 00:00:00  0.318182     0.250000  0.333333  0.181818
2022-12-02 00:00:00  0.720000     0.666667  0.428571  0.571429
2022-12-03 00:00:00  0.588235     0.200000  0.433333  0.500000
2022-12-04 00:00:00  0.500000     0.000000  0.375000  0.833333
2022-12-05 00:00:00  0.500000     0.000000  0.185185  0.486486
2022-12-06 00:00:00  0.606061     0.727273  0.433333  0.387097
2022-12-07 00:00:00  0.419355     0.500000  0.363636  0.444444
2022-12-08 00:00:00  0.500000     0.500000  0.526316  0.625000
2022-12-09 00:00:00  0.500000     0.000000  0.761905  0.500000
2022-12-12 00:00:00  0.480000     0.000000  0.392857  0.580645
2022-12-13 00:00:00  0.650000     0.600000  0.428571  0.586207
2022-12-14 00:00:00  0.384615     0.333333  0.424242  0.318182
2022-12-15 00:00:00  0.656250     0.636364  0.400000  0.565217
2022-12-16 00:00:00  0.526316     0.857143  0.625000  0.548387
2022-12-17 00:00:00  0.333333     0.333333  0.593750  0.696970
2022-12-18 00:00:00  0.500000     0.666667  0.640000  0.600000
2022-12-19 00:00:00  0.454545     0.400000  0.607143  0.606061
2022-12-20 00:00:00  0.370370     0.600000  0.513514  0.527778
2022-12-21 00:00:00  0.600000     0.750000  0.407407  0.428571
2022-12-22 00:00:00  0.791667     0.666667  0.352941  0.433333
2022-12-23 00:00:00  0.520000     0.222222  0.352941  0.454545
2022-12-24 00:00:00  0.586207     0.333333  0.272727  0.360000
2022-12-25 00:00:00  0.625000     1.000000  0.625000  0.625000
2022-12-26 00:00:00  0.566667     0.428571  0.684211  0.400000
2022-12-27 00:00:00  0.483871     0.500000  0.529412  0.560000
2022-12-28 00:00:00  0.689655     0.333333  0.380952  0.526316
2022-12-29 00:00:00  0.428571     0.750000  0.555556  0.518519
2022-12-30 00:00:00  0.560976     0.333333  0.304348  0.444444
2022-12-31 00:00:00  0.640000     0.500000  0.727273  0.818182

In [ ]:
#get the average value of each data
avg_kendala_wo_jan = pd.DataFrame(kendala_wo_daily_jan.mean()).reset_index()
avg_kendala_wo_des = pd.DataFrame(kendala_wo_daily_des.mean().reset_index())
#rename column
avg_kendala_wo_jan.rename(columns = {0:'Kendala / WO'}, inplace = True)
avg_kendala_wo_des.rename(columns = {0:'Kendala / WO'}, inplace = True)

In [ ]:
avg_kendala_wo_jan

  level_0      TERITORI  Kendala / WO
0  KONTAK    Banyumanik      0.777778
1  KONTAK         Candi      0.863636
2  KONTAK         Johar      0.818182
3  KONTAK        Kendal      0.986111
4  KONTAK     Majapahit      0.759259
5  KONTAK      Salatiga      0.788095
6  KONTAK  Simpang Lima      0.833333
7  KONTAK          Tugu      0.857143
8  KONTAK       Ungaran      0.850000

In [ ]:
avg_kendala_wo_des

  level_0      TERITORI  Kendala / WO
0  KONTAK    Banyumanik      0.423616
1  KONTAK         Candi      0.562233
2  KONTAK         Johar      0.498384
3  KONTAK        Kendal      0.583146
4  KONTAK     Majapahit      0.412703
5  KONTAK      Salatiga      0.534478
6  KONTAK  Simpang Lima      0.451319
7  KONTAK          Tugu      0.470981
8  KONTAK       Ungaran      0.521654

In [ ]:
#merge with the previous average data
avg_jan = pd.merge(avg_ps_wo_jan, avg_kendala_wo_jan, how = 'outer')
avg_jan

  level_0      TERITORI   PS / WO  Kendala / WO
0  KONTAK    Banyumanik  0.222222      0.777778
1  KONTAK         Candi  0.136364      0.863636
2  KONTAK         Johar  0.181818      0.818182
3  KONTAK        Kendal  0.013889      0.986111
4  KONTAK     Majapahit  0.240741      0.759259
5  KONTAK      Salatiga  0.211905      0.788095
6  KONTAK  Simpang Lima  0.166667      0.833333
7  KONTAK          Tugu  0.142857      0.857143
8  KONTAK       Ungaran  0.150000      0.850000

In [ ]:
#merge with the previous average data
avg_des = pd.merge(avg_ps_wo_des, avg_kendala_wo_des, how = 'outer')
avg_des

  level_0      TERITORI   PS / WO  Kendala / WO
0  KONTAK    Banyumanik  0.576384      0.423616
1  KONTAK         Candi  0.437767      0.562233
2  KONTAK         Johar  0.501616      0.498384
3  KONTAK        Kendal  0.416854      0.583146
4  KONTAK     Majapahit  0.587297      0.412703
5  KONTAK      Salatiga  0.465522      0.534478
6  KONTAK  Simpang Lima  0.479716      0.451319
7  KONTAK          Tugu  0.529019      0.470981
8  KONTAK       Ungaran  0.478346      0.521654

# **PS/Teknisi Daily**

In [ ]:
ps_teknisi_daily_jan = pd.DataFrame(ps_daily_jan.values/teknisi_daily_jan.values)
ps_teknisi_daily_jan.insert(loc=0, column='DATE', value=wo_daily_jan.index)
ps_teknisi_daily_jan.columns = ['DATE', 'Banyumanik', 'Candi','Johar','Kendal',
                                'Majapahit','Salatiga','Simpang Lima','Tugu','Ungaran']
ps_teknisi_daily_jan.fillna(0,inplace=True)
ps_teknisi_daily_jan

,DATE,Banyumanik,Candi,Johar,Kendal,Majapahit,Salatiga,Simpang Lima,Tugu,Ungaran
0,2023-01-01 00:00:00,0.666667,0.3,0.333333,0.125,1.083333,0.277778,0.5,0.5,0.5000
1,2023-01-02 00:00:00,0.000000,0.0,0.000000,0.000,0.000000,0.071429,0.0,0.0,0.0625

In [ ]:
ps_teknisi_daily_des = pd.DataFrame(ps_daily_des.values/teknisi_daily_des.values)
ps_teknisi_daily_des.insert(loc=0, column='DATE', value=wo_daily_des.index)
ps_teknisi_daily_des.columns = ['DATE', 'Banyumanik', 'Candi','Johar','Kendal',
                                'Majapahit','Salatiga','Simpang Lima','Tugu','Ungaran']
ps_teknisi_daily_des.fillna(0,inplace=True)
ps_teknisi_daily_des

,DATE,Banyumanik,Candi,Johar,Kendal,Majapahit,Salatiga,Simpang Lima,Tugu,Ungaran
0,2022-12-01 00:00:00,0.571429,0.416667,0.850000,0.708333,1.000000,0.681818,0.750000,0.625000,0.642857
1,2022-12-02 00:00:00,0.416667,0.166667,0.500000,0.625000,0.777778,0.269231,0.166667,0.333333,0.450000
2,2022-12-03 00:00:00,0.750000,0.000000,0.666667,0.458333,0.772727,0.538462,0.500000,0.500000,0.666667
3,2022-12-04 00:00:00,0.600000,0.375000,0.625000,0.750000,1.166667,0.450000,0.500000,0.625000,0.333333
4,2022-12-05 00:00:00,0.800000,0.333333,0.615385,1.100000,0.833333,0.625000,0.000000,0.846154,0.863636
5,2022-12-06 00:00:00,0.583333,0.250000,0.850000,0.875000,0.944444,0.406250,0.250000,0.500000,0.950000
6,2022-12-07 00:00:00,0.785714,0.375000,0.750000,0.750000,0.954545,0.600000,0.500000,0.750000,0.750000
7,2022-12-08 00:00:00,0.833333,0.500000,0.846154,0.750000,1.041667,0.566667,0.333333,0.321429,0.600000
8,2022-12-09 00:00:00,0.750000,0.333333,0.409091,0.954545,0.950000,0.458333,0.500000,0.227273,0.750000
9,2022-12-12 00:00:00,0.800000,0.400000,0.461538,0.772727,1.000000,0.433333,0.000000,0.566667,0.722222
10,2022-12-13 00:00:00,0.333333,0.333333,0.590909,0.714286,1.000000,0.318182,0.250000,0.588235,0.857143
11,2022-12-14 00:00:00,0.500000,0.666667,0.818182,0.653846,0.791667,0.666667,0.333333,0.678571,0.937500
12,2022-12-15 00:00:00,0.400000,0.200000,0.666667,0.625000,1.000000,0.458333,0.500000,0.692308,0.555556
13,2022-12-16 00:00:00,0.600000,0.125000,0.388889,0.500000,0.875000,0.346154,0.166667,0.375000,0.700000
14,2022-12-17 00:00:00,0.600000,0.375000,0.700000,0.464286,0.833333,0.500000,0.750000,0.541667,0.625000
15,2022-12-18 00:00:00,0.500000,0.375000,0.714286,0.642857,1.000000,0.500000,0.250000,0.450000,0.857143
16,2022-12-19 00:00:00,0.625000,0.400000,0.250000,0.722222,0.958333,0.461538,0.300000,0.392857,0.812500
17,2022-12-20 00:00:00,0.800000,0.250000,0.722222,0.625000,1.055556,0.772727,0.333333,0.600000,0.772727
18,2022-12-21 00:00:00,0.500000,0.250000,0.545455,0.681818,1.000000,0.333333,0.250000,0.533333,0.727273
19,2022-12-22 00:00:00,0.583333,0.357143,0.708333,0.500000,1.166667,0.208333,0.166667,0.458333,0.850000
20,2022-12-23 00:00:00,0.428571,0.333333,0.600000,0.730769,1.062500,0.461538,0.583333,0.500000,0.666667
21,2022-12-24 00:00:00,0.375000,0.100000,0.625000,0.777778,1.187500,0.461538,0.333333,0.666667,0.727273
22,2022-12-25 00:00:00,0.500000,0.428571,0.444444,0.450000,0.750000,0.375000,0.000000,0.375000,0.500000
23,2022-12-26 00:00:00,0.333333,0.500000,0.681818,0.593750,0.500000,0.541667,0.500000,0.272727,0.600000
24,2022-12-27 00:00:00,0.750000,0.333333,0.500000,0.700000,1.000000,0.533333,0.300000,0.444444,0.550000
25,2022-12-28 00:00:00,0.250000,0.400000,0.500000,0.681818,1.166667,0.346154,0.500000,0.500000,0.562500
26,2022-12-29 00:00:00,0.600000,0.400000,0.590909,0.727273,1.062500,0.500000,0.166667,0.461538,0.722222
27,2022-12-30 00:00:00,0.125000,0.333333,0.454545,0.681818,1.166667,0.562500,0.333333,0.666667,0.625000
28,2022-12-31 00:00:00,0.500000,0.125000,0.055556,0.038462,0.500000,0.321429,0.333333,0.250000,0.200000

In [ ]:
#get the average value of each data
avg_ps_teknisi_jan = pd.DataFrame(ps_teknisi_daily_jan.mean()).reset_index()
avg_ps_teknisi_des = pd.DataFrame(ps_teknisi_daily_des.mean().reset_index())
#rename column
avg_ps_teknisi_jan.rename(columns = {0:'PS / Teknisi'}, inplace = True)
avg_ps_teknisi_des.rename(columns = {0:'PS / Teknisi'}, inplace = True)

<ipython-input-27-67a26565ac93>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  avg_ps_teknisi_jan = pd.DataFrame(ps_teknisi_daily_jan.mean()).reset_index()
<ipython-input-27-67a26565ac93>:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  avg_ps_teknisi_des = pd.DataFrame(ps_teknisi_daily_des.mean().reset_index())

In [ ]:
#merge with the previous average data
avg_jan['PS / Teknisi'] = avg_ps_teknisi_jan['PS / Teknisi']
#delete unneeded column
del avg_jan['level_0']
avg_jan

       TERITORI   PS / WO  Kendala / WO  PS / Teknisi
0    Banyumanik  0.222222      0.777778      0.333333
1         Candi  0.136364      0.863636      0.150000
2         Johar  0.181818      0.818182      0.166667
3        Kendal  0.013889      0.986111      0.062500
4     Majapahit  0.240741      0.759259      0.541667
5      Salatiga  0.211905      0.788095      0.174603
6  Simpang Lima  0.166667      0.833333      0.250000
7          Tugu  0.142857      0.857143      0.250000
8       Ungaran  0.150000      0.850000      0.281250

In [ ]:
#merge with the previous average data
avg_des['PS / Teknisi'] = avg_ps_teknisi_des['PS / Teknisi']
#delete unneeded column
del avg_des['level_0']
avg_des

       TERITORI   PS / WO  Kendala / WO  PS / Teknisi
0    Banyumanik  0.576384      0.423616      0.558415
1         Candi  0.437767      0.562233      0.325369
2         Johar  0.501616      0.498384      0.590726
3        Kendal  0.416854      0.583146      0.663963
4     Majapahit  0.587297      0.412703      0.948881
5      Salatiga  0.465522      0.534478      0.472328
6  Simpang Lima  0.479716      0.451319      0.339655
7          Tugu  0.529019      0.470981      0.508352
8       Ungaran  0.478346      0.521654      0.675077

# **Saving Result**

In [ ]:
ps_wo_daily_jan.to_csv('ps_wo_daily_jan.csv')
ps_wo_daily_des.to_csv('ps_wo_daily_des.csv')
kendala_wo_daily_jan.to_csv('kendala_wo_daily_jan.csv')
kendala_wo_daily_des.to_csv('kendala_wo_daily_des.csv')
ps_teknisi_daily_jan.to_csv('ps_teknisi_daily_jan.csv',index=False)
ps_teknisi_daily_des.to_csv('ps_teknisi_daily_des.csv',index=False)
avg_jan.to_csv('avg_jan.csv',index=False)
avg_des.to_csv('avg_des.csv',index=False)

In [ ]:
wo_daily_sep.to_csv('wo_daily_sep.csv')
wo_daily_okt.to_csv('wo_daily_okt.csv')
ps_daily_sep.to_csv('ps_daily_sep.csv')
ps_daily_okt.to_csv('ps_daily_okt.csv')
kendala_daily_sep.to_csv('kendala_daily_sep.csv')
kendala_daily_okt.to_csv('kendala_daily_okt.csv')
teknisi_daily_sep.to_csv('teknisi_daily_sep.csv')
teknisi_daily_okt.to_csv('teknisi_daily_okt.csv')